body {
  font-family: Arial, sans-serif;
  background-color: #f8fdfb;
  margin: 0;
  padding: 0;


}


html {
  scroll-behavior: smooth;
}

#icon {
  height:20%;
  width:20%;
}


header {
  background-color: #487a41;
  color:white;
  text-align: center;
  padding: 20px;
  border-bottom-style:solid;
  border-bottom-color: #0b7a5f;
}







.header-ul{
  list-style-type:none;
  padding:0;
  margin-top:10px;
  margin-left: 0px;
  margin-right: 0px;
}

.header-li {
  display: inline;
  margin: 0 8px;
}




.header-a{
  text-decoration:none;
  color:white;
}




.header-a:hover{
  color:#9ece98;
}



main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

article {
  background-color: #ffffff;
  border-style:solid;
  border-width:1px;
  border-color:#487a41;
  border-radius: 5px;
  padding: 15px;
}

h2 {
  color: #487a41;
}

ul {
  list-style-type: square;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #487a41;
  color:white;
}

th{
  border-style:solid;
  border-width:1px;
  border-color:#587854;
  padding:8px;
  text-align:left 
}

td{
  border-style:solid;
  border-width:1px;
  border-color:#587854;
  background-color:#f4fcf3;
  padding: 8px;
  text-align: left;
}


.li-a{
  color:#1c3519;
  text-decoration:none;
}

.li-a:hover{
  color:#9ece98;
}

form input {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}

form select {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
}


form button {
  background-color: #487a41;
  margin-top: 4px;
  width: 100%;

  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

form button:hover {
  background-color: #9ece98;
}

footer {
  background-color: #e4ffe1;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #0b1724;
}


.sponsors-h4{
  margin-bottom:5px;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 4px;
}

.footer-a {
  color: #386732;
  text-decoration: none;
}

.footer-a:hover {
  color:#9ece98
}

.p-a{
  color:#386732
}


.p-a:hover{
  color:#9ece98
}

#socials {
  margin-top: 10px;
}

#sponsors {
  margin-top: 15px;
}
